body{
    width: 100vw;
    height: 100vh;
    background-color: white ;
}

.my-h1{
    background-color: lightgrey;
    width: 100%;
    height: 15vh;
    margin-left: -10px;
    margin-top: -10px;
}

#blue{
    width: 75px;
    height: 90px;
    background-color: lightskyblue;
    margin-left: 50px;
    margin-top: 25px;
    display: inline-block;
}

.my-h2{
    width: 95vw;
    height: 30vh;
    background-color: white;
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    font-size: xx-large;
    text-align: center;
    font-family: 'Raleway';
}

.my-h3{
    background-color: lightskyblue;
    width: 100%;
    height: 15vh;
    margin-left: -10px;
    
}

.my-h4{
    background-color: teal;
    width: 100%;
    height: 15vh;
    margin-left: -10px;
}

.my-h5{
    background-color: mediumspringgreen;
    width: 100%;
    height: 15vh;
    margin-left: -10px;
}

.my-h6{
    background-color: rgb(202, 245, 10);
    width: 100%;
    height: 15vh;
    margin-left: -10px;
}



